<html>
  <head>
    <meta charset="utf-8">
    <title>Express Intro</title>
    <link rel="Stylesheet" href="/stylesheets/styles.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/javascripts/chitter.js"></script>
</html>
