<div class="container">
  <form class="item"  action="login" method="post">
    <div>
  	<label>Username:</label>
  	<input type="text" name="username"/><br/>
  	</div>
  	<div>
  	<label>Password:</label>
  	<input type="password" name="password"/>
  	</div>
  	<div>
  	<input type="submit" value="Login"/>
  	</div>
  </form>

  <form class="item" action="signup" method="post">
    <div>
  	<label>Username:</label>
  	<input type="text" name="username"/><br/>
  	</div>
  	<div>
  	<label>Password:</label>
  	<input type="password" name="password"/>
  	</div>
  	<div>
      <input type="submit" value="Sign up"/>
  	</div>
  </form>

  or log in using:
  <form class="item">
    <input type="button" value="facebook" />
  </form>
</div>
